flows_raspberrypi.json
[{"id":"e20ea61b.108288","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f890757d.78d108","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"0x9b","bin":"bin","out":"char","addchar":false},{"id":"56457d6.4421384","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ddf39b3.2b8aa8","type":"ui_tab","z":"","name":"Room","icon":"dashboard","order":1},{"id":"3204d3e0.273d5c","type":"ui_group","z":"","name":"LED","tab":"8ddf39b3.2b8aa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"63fc7b1d.6aa3a4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"9882f24f.e4ce2","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"28b889f1.646e86","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"373648db.dcd968","type":"serial out","z":"e20ea61b.108288","name":"","serial":"f890757d.78d108","x":1210,"y":380,"wires":[]},{"id":"926c4c75.a6d96","type":"debug","z":"e20ea61b.108288","name":"serial output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1220,"y":600,"wires":[]},{"id":"b1ecb4d6.495878","type":"function","z":"e20ea61b.108288","name":"add address","func":"node.log(msg.payload);\n\nvar message = Buffer.from(msg.payload.command, 'utf8');\nvar buffer = Buffer.alloc(6);\n\nbuffer[0] = msg.payload.sender;\nbuffer[1] = msg.payload.receiver;\n\nvar offset = 2;\nfor (var i=0; i<4; i++) {\n    buffer[i+offset] = message[i];\n}\n\nreturn { payload: buffer };","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["543c7ee6.fb8a3"]]},{"id":"543c7ee6.fb8a3","type":"function","z":"e20ea61b.108288","name":"add header and checksum","func":"var header = 155;\nvar sum = 0;\nvar message = Buffer.from(msg.payload, 'utf8')\n\nfor (var i = 0; i < message.length; i++){\n    sum = sum + message[i];\n}\n\nvar checksum = sum % 256;\n\nvar buffer = Buffer.alloc(8, 0x00, 'utf8');\nvar offset = 1;\n\nbuffer[0] = header;\nfor (var i=0; i<6; i++) {\n    buffer[i+offset] = message[i];\n    node.log(message[i]);\n}\nbuffer[7] = checksum;\n\nreturn { payload: buffer };","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["373648db.dcd968","926c4c75.a6d96"]]},{"id":"466c65e2.26f06c","type":"inject","z":"e20ea61b.108288","name":"ON A","topic":"","payload":"{\"command\":\"on__\",\"sender\":99,\"receiver\":97}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":140,"wires":[["b1ecb4d6.495878"]]},{"id":"ccdfc1e9.ce94e","type":"inject","z":"e20ea61b.108288","name":"OFF A","topic":"","payload":"{\"command\":\"off_\",\"sender\":99,\"receiver\":97}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":200,"wires":[["b1ecb4d6.495878"]]},{"id":"79224c55.f96884","type":"inject","z":"e20ea61b.108288","name":"OFF B","topic":"","payload":"{\"command\":\"off_\",\"sender\":99,\"receiver\":98}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":320,"wires":[[]]},{"id":"eaa1ec64.89ae2","type":"http in","z":"e20ea61b.108288","name":"","url":"/lamp/:address","method":"post","upload":false,"swaggerDoc":"","x":170,"y":380,"wires":[["6340bd44.ea4f54","9e8db2f2.99569"]]},{"id":"6340bd44.ea4f54","type":"function","z":"e20ea61b.108288","name":"parse http request","func":"var command = \"\";\nvar sender = 99;\nvar receiver = msg.req.params.address;\n\nswitch (msg.payload.state) {\n    case 0:\n        command = \"off_\";\n        break;\n    case 1:\n        command = \"on__\";\n        break;\n}\n\nvar payload = {\n    sender: sender,\n    receiver: receiver,\n    command: command\n};\n\nreturn { payload: payload };","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["b1ecb4d6.495878"]]},{"id":"9e8db2f2.99569","type":"http response","z":"e20ea61b.108288","name":"","statusCode":"200","headers":{},"x":400,"y":440,"wires":[]},{"id":"346c54e8.0e303c","type":"ui_switch","z":"e20ea61b.108288","name":"LED A","label":"switch","group":"3204d3e0.273d5c","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"on__\",\"sender\":99,\"receiver\":97}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{     \"command\": \"off_\",     \"sender\": 99,     \"receiver\": 97 }","offvalueType":"json","officon":"","offcolor":"","x":470,"y":80,"wires":[["b1ecb4d6.495878"]]},{"id":"6dd1c0a4.de31f","type":"serial in","z":"e20ea61b.108288","name":"","serial":"f890757d.78d108","x":200,"y":600,"wires":[["1623650c.bc781b"]]},{"id":"1623650c.bc781b","type":"function","z":"e20ea61b.108288","name":"check address and checksum","func":"var sum = 0;\nvar ThisAddress = 99;\nvar message = Buffer.from(msg.payload, 'utf8');\nvar buffer = Buffer.alloc(8, 0x00, 'utf8');\n\nfor (var i=0; i<8; i++){\n    buffer[i]=message[i];\n}\n\nif (buffer[1] === ThisAddress){\n    for (var i=0; i<6; i++){\n    sum = sum + buffer[i];\n    }\n    \n    var checksum = sum % 256;\n    var ReceivedChecksum = buffer[6];\n    \n    if (ReceivedChecksum === checksum){\n        return { payload: buffer };    \n    }\n}\n\n","outputs":1,"noerr":0,"x":470,"y":600,"wires":[["5d1e6d2e.8072a4"]]},{"id":"5d1e6d2e.8072a4","type":"debug","z":"e20ea61b.108288","name":"serial input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":600,"wires":[]},{"id":"4ded497c.df5c88","type":"inject","z":"e20ea61b.108288","name":"ON B","topic":"","payload":"{\"command\":\"on__\",\"sender\":99,\"receiver\":98}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":260,"wires":[[]]}]